@import '../../../styles/styles.scss';
.box{
  position: static !important;
 background:linear-gradient(to bottom, #037e2c 0%, #02b302 100%);
  height: 2rem !important;
  display: center;
  text-align: center;
  width: 100% !important;
}.boxText{
  width: 100% !important;
 font-weight: 600 !important; 
 color: rgb(81, 83, 78);
}
.logo{
  height: 2rem;
  margin: 1rem;
 
}
.navText {
  align-items: center;
  color: black;
  cursor: pointer ;
}
.AppBar{
 width: 100% !important;
  background-color: rgb(255, 255, 255) !important;
}
.logoText{
  margin:1rem !important;
  color: rgb(23, 140, 0,);
}
.serchbox{
  border-radius: 2rem;
  background: rgb(241, 241, 241);

}
.hederRightBOX{
  display: contents !important;
  margin: 1rem;
}


@media (max-width: 600px){
  .logoText{
  display: none !important;
  }
  .serchbox{
    border-radius: 2rem;
    background: rgb(241, 241, 241);
  
  }
  .logo{
    height: 2rem;
    margin: 1rem;
    margin-right: 4rem;
   
  }
 
}
@media (max-width: 450){
  .serchbox{
    border-radius: 2rem;
    width: 4rem;
    background: rgb(241, 241, 241);
  
  }
  .logo{
    height: 2rem;
    margin: 1rem !important;

   
  }
}



// .hiringSection {
//   display: flex;
//   justify-content: center;
//   background: radial-gradient(
//     140.25% 16534.02% at 118.89% 49.43%,
//     $dark-blue 0%,
//     $light-blue 26.35%,
//     $blue 67.44%,
//     $primary-blue 100%
//   );
//   padding: $mini-padding;
// }

// .navSection {
//   display: flex;
//   justify-content: space-between;
//   padding-left: $huge-padding;
//   padding-right: $huge-padding;
//   padding-top: $large-padding;
//   padding-bottom: $smaller-padding;
//   align-items: center;
// }

// .navItems {
//   display: flex;
//   height: fit-content;
// }

// .navText {
//   align-items: center;
//   cursor: pointer;
// }

// .downIcon {
//   color: $primary-blue;
//   margin-left: $micro-margin;
//   cursor: pointer;
// }

// .logo {
//   cursor: pointer;
// }

// @media only screen and (max-width: 1024px) {
//   .navSection {
//     display: flex;
//     justify-content: space-between;
//     padding-left: $smaller-padding;
//     padding-right: $smaller-padding;
//     padding-top: $smaller-padding;
//     padding-bottom: $smaller-padding;
//     align-items: center;
//   }
//   .hamburgerIcon {
//     cursor: pointer;
//   }
//   .navText {
//     font-size: $body2 !important;
//   }
// }
// .DigiratinaLogo{
//   width: 2rem;
// }